body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    margin:0px;
}

ul{
    list-style-type: none;
    align-self: auto;
    font-size:large;
    display: flex;
    gap: 15px;
}

a{
    text-decoration: none;
    color:inherit;
}

.header{
    font-weight:bold;
    color:ghostwhite;
    background-color: black;
    padding:20px;
    display:flex;
    flex-direction: column;
}

.row{
    display:flex;
    align-items: center;
}

#top_row{
    justify-content: space-between;
}

#big_label{
    font-size:50px;
    margin-bottom:10px;
}

#header_left{
    max-width: 60%;
}
